.svgHolder {
    position: relative;
}

.svgPin {
    position: absolute;
    top: 5px;
    left: 38px;
}

.notify-list{
    float: right
}

.mapHolder{
  float: left;
  width: 98vw;
  height: 100vh;
}

.map-container {
  width: 65vw;
  float: left;
  height: 100vh;
}

.marker-item-content {
  width: 220px;
  .btn {
    margin-top: 10px;
  }
}

.notify-list {
  background-color: white;
  width: 35vw;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  .notfy-item {
    margin-bottom: 0;
    .panel-body {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
