.svgHolder {
    position: relative;
}

.svgPin {
    position: absolute;
    top: 5px;
    left: 38px;
}

.notify-list{
    float: right
}

.mapHolder{
    float: left;
    width: 65vw;
    height: 100vh;
}

.notify-list {
  background-color: white;
  .panel {
    margin-bottom: 0;
  }
}
